<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>{{ title if title else "Image Compare" }}</title>
  <!-- Include HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <!-- Simple styling -->
  <style>
    :root {
      --page-bg-color: #18181a;
      --text-color: #f0f0f0;
    }
    [data-theme="dark"] {
      --page-bg-color: #18181a;
      --text-color: #f0f0f0;
    }

    body {
        font-family: sans-serif;
        background-color: var(--page-bg-color);
        color: var(--text-color);
    }
    
    .page-container {
      max-width: 800px;
      margin: 0 auto;
    }
  </style>

  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="page-container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
